table(class='table table-striped table-bordered table-hover dataTable')
    tr
        th= 'Name'
        th= 'Branch'
        th= 'Status'
        th= 'Build'
        th= 'Version'
        th= 'Message'
        th= 'Duration'
        th= 'Time'
    each row in data
        include row